.navbar {
  background: #383838
}

.logo {
  margin-right: 30px;
}

.navbar-item {
  padding: 0px;
  max-height: 300;
}

.navbar-item:hover {
  background: #383838
}

.navbar-item img {
  max-height: 100%;
}

.workspace {
  font-weight: bold;
  font-size: larger;
}

.bt-display-only {
  background-color: rgba($color: white, $alpha: 0.2);
  padding: 8px;
  color: white;
  border-color: rgba($color: white, $alpha: 0.2);
  cursor: auto;
}

.navbar-menu {
  background-color: #383838;
}