<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item logo" href="">
      <img src="../assets/img/BugtraceLogo.gif" alt="" width="150" />
    </a>
  </div>
  <div class="navbar-menu is-active">
    <div class="navbar-start">
      <a class="navbar-item" [routerLink]="['/workspace']">
        <button class="button is-info">
          <fa-icon class="mr-1" [icon]="faHome"></fa-icon>
          <strong>Home</strong>
        </button>
      </a>
      <div *ngIf="workspace$ | async as workspace" class="navbar-item mr-2">
        <div class="ml-2 workspace">
          <div class="button bt-display-only">
            <div>{{ workspace.name | titlecase }}</div>
          </div>
        </div>
      </div>
      <div *ngIf="workspace$ | async as workspace" class="navbar-item mr-6">
        <app-user-search
          [isActive]="false"
          [workspace]="workspace"
        ></app-user-search>
      </div>
      <div *ngIf="userList$ | async as users" class="navbar-item">
        <div class="button bt-display-only">
          <div *ngFor="let user of users">
            <app-user-avatar [firstName]="user.username"></app-user-avatar>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar-end" *ngIf="user$ | async as user">
      <div class="navbar-item mr-2">
        <div>Hi {{ user.username | titlecase }}!</div>
      </div>

      <div class="navbar-item mr-2">
        <div class="buttons">
          <a
            (click)="logoutHandler()"
            class="button is-small is-danger is-outlined"
          >
            <fa-icon [icon]="faSignOutAlt" class="mr-1"></fa-icon>Logout
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
