<div class="dropdown" [class]="{ 'is-active': clickSubject$ | async }">
  <div class="dropdown-trigger">
    <button (click)="handleClick()" class="button is-info" aria-haspopup="true" aria-controls="dropdown-menu">
      <strong>Invite</strong>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu" role="menu">
    <div class="dropdown-content">
      <div class="dropdown-item has-text-dark has-text-centered">
        Invite To Workspace
        <button (click)="handleClick()" class="delete ml-4" aria-label="close"></button>
        <hr>
      </div>
      <div class="dropdown-item">
        <input [(ngModel)]="searchValue" id="search" type="text" class="input mb-3" />
        <div *ngIf="users$ | async as users">
          <div *ngFor="let user of users">
            <a (click)="addUser(user)">
              <div class="columns is-vcentered bt-highlight">
                <div class="column is-3">
                  <figure class="image is-32x32">
                    <img
                      class="image-round"
                      src="https://bulma.io/images/placeholders/96x96.png"
                      alt="Placeholder image"
                    />
                  </figure>
                </div>
                <div class="column is-7">
                  <p class="subtitle is-6 has-text-dark">
                    {{ user.user.username }}
                  </p>
                  <p *ngIf="user.isAdded" class="has-text-success">
                    Joined
                  </p>
                  <p *ngIf="!user.isAdded" class="has-text-warning">
                    Invite
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
