.image-round {
  border-radius: 50px;
}

.subtitle {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.bt-highlight:hover {
  background-color: beige;
}

.columns {
  padding: 2px;
  margin: auto;
}

.column {
  padding: 3px;
}

.dropdown-item {
  padding: 3px;
}

hr {
  margin: 3px;
  background-color: rgb(170, 170, 170);
}