.alt-avatar {
  border-radius: 50%;
  border: 2px solid black;
  background-color: rgb(209, 209, 209);
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
}