<app-navbar></app-navbar>

<div class="section cards" *ngIf="invited$ | async as invited">
  <div class="container">
    <h1 class="title is-2">
      Invited Workspaces
    </h1>
    <div class="columns is-multiline">
      <div class="column is-one-quarter card-anim" *ngFor="let workspace of invited">
        <div class="card">
          <div class="card-image">
            <figure class="image is-2by1">
              <img
                src="../../../assets/img/background3.jpg"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <a (click)="loadBugs(workspace)" class="card-content is-overlay">
            <p class="title is-3">{{ workspace.name | titlecase }}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section cards" *ngIf="workspaces$ | async as workspaces">
  <div class="container">
    <h1 class="title is-2">
      My Workspaces
    </h1>
    <div class="level">
      <div class="field has-addons">
        <div class="control">
          <input [(ngModel)]="workspaceName" type="text" class="input" />
        </div>
        <div class="control">
          <button (click)="addWorkspace()" class="button is-info">
            <fa-icon class="icon is-medium mr-1" [icon]="faPlus"></fa-icon>
            Add Workspace
          </button>
        </div>
      </div>
    </div>
    <div class="columns is-multiline">
      <div class="column is-one-quarter card-anim" *ngFor="let workspace of workspaces">
        <div class="card">
          <div class="card-image">
            <figure class="image is-2by1">
              <img
                src="../../../assets/img/background3.jpg"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <a (click)="loadBugs(workspace)" class="card-content is-overlay">
            <p class="title is-3">{{ workspace.name | titlecase }}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
